/*------------------------------------------Index #0 ---------------------------------------
#0 Body
#1 Header                                  
#2 Nav
#3 Color controls(styles/theme) 
#4 Brightness control
#5 Content Window/intro message
#6 Secret Content behind iframe

background-color: #b3ccc2;  
background: linear-gradient(to bottom right, #b3ccc2, #73a9db);
--------------------------------------------Index #0 --------------------------------------*/

@media screen and (max-width: 760px) {

    #iframe-message{
        overflow: scroll;
    }
    
    .bright-slider-box label {
        margin-top: -2px;
    }
        .center {
        margin-top: 1px;
    }

}

@media screen and (min-width: 760px) {

    body {  
        height: auto !important;
        min-height: 100vh !important;
    }

}

/*-------------------------------------------Body #0 -----------------------------------*/
* {
    box-sizing: border-box;      
}

html {
    margin: 0;
    padding: 0;
    
    width:100%;
} 

body {  
    height: auto !important;
    margin: 0 auto;
    padding: 0;      
    background: linear-gradient(to bottom right, #b3ccc2, #73a9db);
}
/* Scroll Bar -----------------------------------*/

html::-webkit-scrollbar {
    width: 16px; 
}

html::-webkit-scrollbar-track {
    background: linear-gradient(to right, #000000f8, #504f4f, #000000f8); 
    cursor: pointer;
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #000000ab, #81bbc5, #000000ab); 
    border-radius: 10px;
    border:1px solid rgb(53, 53, 53);
    box-shadow: inset 0 0 3px rgb(245, 245, 245), inset 0 0 2px whitesmoke;  
     
}


html::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #000000, #01498d, #01b7d3, #01498d, #000000);
    box-shadow: inset 0 0 5px whitesmoke;
    cursor:grab;  
}

html::-webkit-scrollbar-thumb:active {
    cursor:grabbing;
}

/*-------------------------------------------Header #1 -------------------------------------*/
header{
    
    text-align: center;
}

h1 {
    margin: 0;
    text-shadow: 0 0 2px #004b58;
}
/*------------------------------------------Header #1 --------------------------------------*/

/*-------------------------------------------Nav #2 ----------------------------------------*/
nav {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #000000a4;
    border-bottom: 1px solid rgba(245, 245, 245, 0.486);
}
.nav-buttons {
    cursor: pointer;
    border: 1px solid #52a3e981;
    box-shadow: 0 0 2px black;
    padding: 5px;
    margin:  5px;
    border-radius: 5px;
    font-style: italic;
    font-weight: 800;
    background-color: #f0f8ffe8;
    box-shadow: 0 0 2px black,inset 0 0 5px black;
    color: #000000f1;
  
}

.nav-buttons:hover {
    background-color: rgba(0, 0, 0, 0.877) !important; /* ITS IMPORTANT */
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.733) !important; /* ME TOO */
    color: rgba(206, 214, 221, 0.952);
    border: 1px solid #52a3e981;
}

.nav-buttons:active {
    background-color: rgba(255, 255, 255, 0.76)!important; /* ITS IMPORTANT OK */
    color: #79add4;
    border: 1px solid #52a3e981;
    box-shadow: inset 0 0 3px aliceblue;
}

#codecademy{
    padding: 0 1px;
    padding-right: 2px;
    border: 2px solid #008296;
    border-radius: 2px;
}
#c {
    margin-left: 1px;
    border-bottom: 2px solid #008296;
}

/*-------------------------------------------Nav #2 ----------------------------------------*/

/*--------------------------------Color -Controls #3 --------------------------------------*/
#page-controls {
    background-color: rgba(0, 0, 0, 0.534);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.control-buttons{
    cursor: pointer;
    border: 1px solid #52a3e981;
    padding: 2px 10px;
    margin: 5px;
    border-radius: 5px;
    font-style: oblique;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #c0bfbf;
    box-shadow: inset 0 0 5px black;
}

.control-buttons:hover {
    background-color: rgba(0, 0, 0, 0.76);
    color: #c6ced4;
    border: 1px solid #52a3e981;
    box-shadow: inset 0 0 3px aliceblue;
}

.control-buttons:active {
    background-color: rgba(255, 255, 255, 0.76);
    color: #79add4;
    border: 1px solid #52a3e981;
    box-shadow: inset 0 0 3px aliceblue;
}

.neon-blue {   
    text-shadow: 0px 0px 3px #05D9FF;
}
.neon-green {   
    text-shadow: 0px 0px 3px #65FE08;
}
.neon-pink {  
    text-shadow: 0px 0px 3px #F535AA;
}

.neon-yellow {    
    text-shadow: 0px 0px 4px #CFFF04;
}

.neon-white {  
    text-shadow: 0px 0px 5px #ffffff;
}
#random-color-change {
    transition: color 1s linear;
}
/*-----------------------------------------Color -Controls #3 --------------------------------------*/

/*----------------------------------------Brightness control #4 --------------------------------------*/
.bright-slider-box {
    
    width: 180px;
    margin: 5px;
    position: relative;
    display: flex;
    align-content: center;
    z-index: 0;
}
#brightness-slider {
    appearance: none;
    cursor: pointer;
    margin: 0 auto;
    padding: 1px;
    width: 100%;
    position: relative;
    z-index: 10;
    border: 1px solid #52a3e981;
    border-radius: 15px;
    font-style: oblique;
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #aaa5a5;
    background: linear-gradient(to right, #aaa5a5, #eeeeee);
    box-shadow: inset 0 0 5px rgb(0, 0, 0);
}    

#brightness-slider:hover {
    background-color: #d4d1d1;
}
#slider-shadow {
  
    background-color: #0000003d;
    pointer-events: none; /* Allows pointer events to pass through */
    height: 98%;
    width: 60%;
    border-radius: 15px;
    position: absolute;
    z-index: 11;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#brightness-slider::-webkit-slider-thumb {

    appearance: none;
    width: 25px;
    height: 20px;
    background-color: #05D9FF;
    border:1px solid #66fe08a1;
    cursor: grab;
    border-radius: 15px;
    box-shadow: inset 0 0 5px black;
    position: relative;
    z-index: 12;
}

#brightness-slider::-webkit-slider-thumb:hover {
    cursor:grab;
    background-color: #008296;
}

#brightness-slider::-webkit-slider-thumb:active {
    cursor:grabbing;
    background-color: #00434e;
}
.bright-slider-box label {
    pointer-events: none; /* Allows pointer events to pass through */
    height: 100%;
    width: 90%;
    padding: 0 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-weight: 500;
    border-radius: 15px;
  
    
}
 /* Label styles for slider */
.dark {
    color: black;
    text-shadow: 0 0 2px rgb(0, 0, 0);
   
}

.light {
    color: rgb(255, 251, 251);
    text-shadow: 0 0 2px rgb(255, 255, 255);
    
}
.center {
    padding-top: 2px;
    
}
/*----------------------------------------Brightness control #4 --------------------------------------*/

/*------------------------------------------Content window #5 --------------------------------------*/
#content {   
    position: relative;
    padding-bottom: 3px;
    margin:15px auto;
    text-align: center;
    height: 85vh;
    width: 90%;
    background-color: #52a3e97e;
    border-radius: 15px;
    box-shadow: 0 0 6px black,inset 0 0 10px black;
}
#iframe-box { 
    position: relative;
    top:2.5%;
    z-index: 98;
    width: 95%;
    height: 95%;
    margin: auto;
    background-color: #c5d4e2;
    border: 0px solid black;
    border-radius: 15px;
    box-shadow: 0 0 15px black, inset 0 0 10px black;
    
}


#iframe-controls {   
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 4px;
    position: absolute;
    z-index: 99;
    top:2%;
    right:2.2%;
    transform: translate(-50%,50%);
    width: 54px;
    height: 30px;
    margin:auto;  
    border: 1px solid rgb(95, 95, 95);
    border-radius: 5px;
    box-shadow: 0 0 5px black,inset 0 0 3px black;
    background: #c5d4e236;
  }

.close {   
    display: flex;
    justify-content: center;
    align-items: center;    
    width: 20px;
    height: 20px; 
    color: #cccccc;
    cursor: pointer;
    background-color: rgba(54, 52, 52, 0.842);
    border: 1px solid #ffffffbe;
    border-radius: 5px;
    box-shadow: 0 0 2px black,inset 0 0 5px black,0 0 1px white;      
}

.close:hover {
    background-color: #496f91b9;
    color: whitesmoke;
}

#fullscreen-button {  
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;   
    width: 20px;
    height: 20px;   
    color: #cccccc;
    cursor: pointer;
    background-color: rgba(54, 52, 52, 0.842);
    border: 1px solid #ffffffbe;
    border-radius: 5px;  
    box-shadow: 0 0 2px black,inset 0 0 5px black,0 0 1px white; 
}

#fullscreen-button:hover {
    background-color: #496f91b9;
    color: whitesmoke;   
}
 /* ------------------------------------  intro message --------------------------------*/

#iframe-message {
    
    background-color: #008296;
    background: linear-gradient(to top right, #01498d, #008296, #01498d);
    color: rgba(241, 240, 240, 0.822);
    height: 70%;
    width: 70%;
    padding: 20px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.507);
    border-radius: 15px;
    box-shadow: inset 0 0 15px black, 0 0 15px black ;
    position: absolute;
    right:50%;
    top:50%;
    transform: translate(50%,-50%);
    z-index: 1000;
    
}

#iframe-message h2 {
    margin: 0 auto;
    width: 80%;
    color: rgba(241, 240, 240, 0.822);
    text-shadow: 0 0 15px rgb(0, 0, 0), 0px 0px 2px #CFFF04;
   
}

.header-border.top{
    margin: 0 auto;
    margin-top: -1px;
    border-top: 2px solid #d1ff048c;
    border-radius: 25px;
    width: 70%; 
    height: 30px;
}
.header-border.mid{
    margin: 0 auto;
    margin-top: 1px;
    border-top: 1px solid #d1ff04c4;
    width: 72%; 
    height: 1px;
    
}
.header-border.bottom{
    margin: 0 auto;
    margin-top: -59px;
    border-bottom: 2px solid #d1ff048c;
    border-radius: 25px;
    width: 70%; 
    height: 30px;
}

#iframe-message p {
    margin: 0 auto;
    padding-top: 20px ;
    width: 70%;
    font-size: large;
    color: rgba(241, 240, 240, 0.822);
    text-shadow: 0 0 15px rgb(0, 0, 0), 0px 0px 1px #CFFF04;
    
}


/*---------------------------------Content window #5 --------------------------------------*/

/*---------------------------------Secret Content #6 --------------------------------------*/
#secret-content {
    position: absolute;
    z-index: 0;
    right: 50%;
    top:7%;
    transform: translateX(50%);
}
/*---------------------------------Secret Content #6 --------------------------------------*/


/*----------------------------------------######## #2 --------------------------------------*/

/*----------------------------------------######## #2 --------------------------------------*/

/*----------------------------------------######## #2 --------------------------------------*/

/*----------------------------------------######## #2 --------------------------------------*/
